snippet m
//#include<iostream>
using namespace std;
int
main()
{
    cin >> n;
    cout << n << endl;
    return 0;
}


snippet mcp "For Comptitve programming" b
//#include<bits/stdc++.h>
using namespace std;
int 
main()
{
  ios_base::sync_with_stdio(false);
  cin.tie(0);

}

