snippet m
import java.util.Scanner;

public class 
Main
{
    public static void 
    main(String[] args)
    {
        Scanner kb = new Scanner(System.in);
	
    }

}

snippet p
System.out.println("");

snippet pf
System.out.printf("", );
