snippet importsml
 import numpy as np
 import pandas as pd
 import matplotlib.pyplot as plt
 import seaborn as sns
 import tensorflow as tf

snippet importscrypto
 from Crypto.Util.number import bytes_to_long, long_to_bytes
 import base64
 import codecs
 import random

